<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Epic Number Game</title>
        <meta description='Home Page for Epic Number Game app'
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css' href='css/styles.css' />
    </head>
    <body>
        <div id='wrapper'>
            <h2>Hello Epic Number Game </h2>
        </div>
    </body>
</html>